// Whidth
$desktop-width: 1280px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-max-width: 400px;
$mobile-width: 320px;

// Colors
$white-color: #ffffff;
$dark-color: #404040;
$blue-color: #08f;
$accent-color: #cc64b7;
$transparent: rgba(0, 0, 0, 0);

$transition-duration: 0.2s;